{% extends "events/base.html" %} {% load static %} {% block body %}
<h1>Edits</h1>

<!-- Menu for adding Components -->
<h3>Add Components</h3>
<div class="row add-menu">
  <button class="btn col-3" value="event">Add an Event</button>
  <button class="btn col-3" value="category">Add a Category</button>
  <button class="btn col-3" value="sub-category">Add a Sub-Category</button>
  <button class="btn col-3" value="location">Add a Location </button>
</div>
<!-- Adding forms -->
<div id="event" class="form add-form hide">
  <button class="btn close">X</button>
  <form id="form1" action="{%url 'edit' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %} {{ form1 }}
    <input type="submit" name="form1-submit" value="Add"></input>
  </form>
</div>
<div id="category" class="form add-form hide">
  <button class="btn close">X</button>
  <form id="form2" action="{%url 'edit' %}" method="post">
    {% csrf_token %} {{ form2 }}
    <input type="submit" name="form2-submit" value="Add"></input>
  </form>
</div>
<div id="sub-category" class="form add-form hide">
  <button class="btn close">X</button>
  <form id="form3" action="{%url 'edit' %}" method="post">
    {% csrf_token %} {{ form3 }}
    <input type="submit" name="form3-submit" value="Add"></input>
  </form>
</div>
<div id="location" class="form add-form hide">
  <button class="btn close">X</button>
  <form id="form4" action="{%url 'edit' %}" method="post">
    {% csrf_token %} {{ form4 }}
    <input type="submit" name="form4-submit" value="Add"></input>
  </form>
</div>



{%endblock %}
