{% extends "events/base.html" %} {% load static %} {% block body %}
<h1>Edits</h1>

<div class="edit-menu">
  <button class="btn" value="event">Add an Event</button>
  <button class="btn" value="category">Add a Category</button>
  <button class="btn" value="sub-category">Add a Sub-Category</button>
  <button class="btn" value="location">Add a Location </button>
</div>

<div id="event" class="form edit-form hide">
  <button class="btn close">X</button>
  <form id="form1" action="{%url 'edit' %}" method="post">
    {% csrf_token %} {{ form1 }}
    <input type="submit" name="form1-submit" value="Add"></input>
  </form>
</div>

<div id="category" class="form edit-form hide">
  <button class="btn close">X</button>
  <form id="form2" action="{%url 'edit' %}" method="post">
    {% csrf_token %} {{ form2 }}
    <input type="submit" name="form2-submit" value="Add"></input>
  </form>
</div>

<div id="sub-category" class="form edit-form hide">
  <button class="btn close">X</button>
  <form id="form3" action="{%url 'edit' %}" method="post">
    {% csrf_token %} {{ form3 }}
    <input type="submit" name="form3-submit" value="Add"></input>
  </form>
</div>

<div id="location" class="form edit-form hide">
  <button class="btn close">X</button>
  <form id="form4" action="{%url 'edit' %}" method="post">
    {% csrf_token %} {{ form4 }}
    <input type="submit" name="form4-submit" value="Add"></input>
  </form>
</div>

{%endblock %}
