{% extends "events/base.html" %} {% load static %} {% block body %}
<h1>Login</h1>

<!-- Login Form  -->
<div id="login" class="form">
  <button class="btn close">X</button>
  <form action="{% url 'login' %}" method="post">
    {% csrf_token %}
    <div>
      <label for="username">Enter a username: </label>
      <input id="username" type="text" name="username" placeholder="Username" />
    </div>
    <div>
      <label for="password">Enter your Password: </label>
      <input
        id="password"
        type="password"
        name="password"
        placeholder="Password"
      />
    </div>
    <div>
      <input type="submit" value="Submit" />
    </div>
  </form>
  <div class="error">
    <span> {{message}} </span>
  </div>
  <p
    >If you do not have an account,
    <a class="close-open">register</a> instead.</p
  >
</div>
{% endblock %}
