body {
  background-color: #fbe3e8;
  font-family: Century Gothic;
  margin-bottom: 75px;
}

h1 {
  text-align: center;
  margin: 15px 0 25px 0;
}

h3 {
  margin-top: 5%;
  margin-bottom: 5%;
  text-align: center;
}

hr {
  background-color: #5cbdb9;
  border: none;
  opacity: 100%;
}

.svg {
  width: 34px;
  height: 24px;
}

/* Changes the color of the SVG Icon/Logo */
.filter-white {
  filter: invert(100%) sepia(1%) saturate(7494%) hue-rotate(67deg)
    brightness(107%) contrast(99%);
}

/* Navigation Bar Related */
#navbar {
  background-color: #5cbdb9;
}

#navbar a {
  color: #fff;
  text-decoration: none;
}

#navbar a:hover {
  color: #d3d3d3;
}

/* Hide class */
.hide {
  display: none;
}

/* Footer Bar Related */
.footer nav {
  background-color: #ebf6f5;
}

/* Sign in/ Log in */
.form {
  position: absolute;
  min-height: 420px;
  min-width: 244px;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  z-index: 10000;
  background-color: #5cbdb9;
  border-radius: 5px;
  border: solid rgb(109, 102, 102);
}

.close {
  position: absolute;
  right: 0%;
  top: 0%;
  padding: 10px;
}

form {
  margin: 5%;
  padding: 5%;
  display: flex;
  justify-content: flex-start;
  gap: 15px;
  flex-shrink: 1;
  flex-direction: column;
}

.form p {
  bottom: 0%;
  margin: 2%;
  padding: 2%;
}

.form a {
  cursor: pointer;
}

.error {
  text-align: center;
  color: red;
}

/* Edit Page Items */
.add-menu button {
  font-size: x-large;
}

/* Event Images */
.events {
  border: 3px solid #5cbdb9;
  padding: 2px;
  box-shadow: 5px 10px 8px #999;
}

.events:hover {
  cursor: pointer;
  transform: scale(1.03, 1.04);
}

/* Calendar pop up */
.calendar {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

input {
  border: none;
}

/* Selected Event Card */

.card {
  background-color: #5cbdb9;
  font-size: x-large;
}

.img-container img {
  border: 3px solid #fbe3e8;
}

.img-container h4 {
  text-align: center;
}

.img-container h4:hover {
  cursor: pointer;
  transform: scale(1.03, 1.04);
}

.card button {
  border: solid #f8ccd6fd;
  background-color: #fbe3e8;
}
